@font-face {
    font-family: arcade;
    src: url(fonts/ARCADECLASSIC.TTF);
}

* {
    --background-color: #95B8D1;
    --hover-color: #8aafca;
    --text-color: #eecc50;
    --shadow: 3px 3px 5px black;

    font-family: arcade, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--background-color);
    color: var(--text-color);
    text-shadow: var(--shadow);
}

body {
    margin: 0;

}

header {
    text-align: center;
    font-size: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.board {
    display: grid;
    background: lightgray;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    width: 450px;

}

.box {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
}

.sign {
    font-size: 5rem;
}

.buttons {
    display: flex;
}

button {
    max-width: 150px;
    width: 10rem;
    border: none;
}



.box:hover,
.box:hover .sign,
button:hover,
button:hover h1 {
    cursor: pointer;
    background: var(--hover-color);
}