@font-face {
    font-family: arcade;
    src: url(fonts/ARCADECLASSIC.TTF);
}



* {
    --background-color: #95B8D1;
    font-family: arcade, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--background-color);
}

body {
    margin: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.board {
    display: grid;
    background: lightgray;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    width: 450px;

}

.box {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
}

.sign {
    font-size: 5rem;
}

.restart-button {
    width: 10rem;
}